services:
  api:
    image: atlas/backend
    platform: linux/amd64
    build:
      context: backend
      target: local
    ports:
      - "8000:8000"
    command:
      [
        "uvicorn",
        "atlas_assistant.api:app",
        "--reload",
        "--reload-exclude",
        "*data*",
        "--host",
        "0.0.0.0",
      ]
    volumes:
      - ./backend/.env:/app/.env
      - ./backend/src:/app/src
      - ./backend/data:/app/data
      - ./backend/tests:/app/tests

  chat:
    image: atlas/backend
    pull_policy: never
    command:
      [
        "chainlit",
        "run",
        "chainlit/app.py",
        "--port=8501",
        "--host=0.0.0.0",
        "-w",
      ]
    ports:
      - "8501:8501"
    volumes_from:
      - api
    volumes:
      - ./backend/chainlit:/app/chainlit
      - ./backend/.chainlit:/app/.chainlit

  frontend:
    image: atlas/frontend
    build:
      context: frontend
      target: development
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/data:/app/data
      - ./frontend/.env:/app/.env
    depends_on:
      - api
