services:
  api:
    image: atlas/backend
    build:
      context: backend
    ports:
      - "8000:8000"
    command: ["uv", "run", "uvicorn", "src.atlas_assistant.api:app", "--reload", "--reload-exclude", "*data*", "--host", "0.0.0.0"]
    volumes:
      - ./backend/.env:/app/.env
      - ./backend/src:/app/src
      - ./backend/chainlit:/app/chainlit
      - ./backend/data:/app/data

  chat:
    image: atlas/backend
    pull_policy: never
    command: ["uv", "run", "chainlit", "run", "chainlit/app.py", "--port=8501", "--host=0.0.0.0", "-w"]
    ports:
      - "8501:8501"
    volumes_from:
      - api

  frontend:
    image: atlas/frontend
    build:
      context: frontend
      target: ${BUILD_TARGET:-development} #TODO Add BUILD_TARGET to GHA workflow
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/data:/app/data
    depends_on:
      - api
