.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-neutral-700);
}

.toggleGroup {
  width: 100%;
  display: flex;
  gap: 0;
}

.toggleItem {
  flex: 1;
  font-size: 0.875rem;
}
