.button {
  font-size: 0.875rem;
  font-weight: 500;
  background-color: white;
  border: 1px solid #2E7636;
  color: #2E7636;
  padding: 0px 5px 0px 5px;
}

.button:hover {
  background-color: #f9fafb;
}

.buttonHoverSlide {
  transition: all 0.2s ease;
}

.buttonHoverSlide:hover {
  background-color: rgba(46, 118, 54, 0.05);
  transform: translateX(2px);
}

.buttonItalic {
  font-style: italic;
}

.buttonAlignLeft {
  justify-content: flex-start;
  text-align: left;
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-left: .5rem;
}
