.container {
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-neutral-500);
  pointer-events: none;
  z-index: 1;
}

.input {
  padding-left: 2.5rem;
  width: 100%;
}
