.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-neutral-700);
}

.slider {
  width: 100%;
}

.valueRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.5rem;
}

.value {
  font-size: 0.75rem;
  color: var(--color-neutral-600);
}
